.html{
    font-size: 12px;
}

body{
    background-color:  rgb(16, 106, 62);

}

:root{
    /*bättre för font style*/
    --box-txt-opacity: rgba(255, 255, 255, 0) ;
    --main-txt-color: rgb(255,255,255);
    --bg-opacity-color: rgba(0,0,0,0.3);
    --text-pnk-color: rgb(252, 203, 210);
    --txt-blu-color:  rgb(18, 18, 144);
    --second-bg-color:  rgb(15, 62, 39);
    
  }

  /*dropdown menu*/
  .navbar, .navbar a{
    background-color: var(--second-bg-color); 
    color: var(--main-txt-color);
    text-decoration: none;
    position: relative;
  }

  .nav-list{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;

  }
  .dropbtn{
  background-color: var(--second-bg-color);
  color: var(--main-txt-color);
  border: none;
  cursor: pointer;

  }

  .dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--box-txt-opacity);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style: none;
    padding: 0%;
  }

    .dropdown-content a{
        color: var(--main-txt-color);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover{
        background-color: var(--text-pnk-color);
    }

    .dropdown:hover .dropdown-content{
        display: block;
    }

    .dropdown:hover .dropbtn{
        background-color: var(--text-pnk-color);
    }

    