
*{
    color: white;
    font-family: Helvetica;

    line-height: 1.5;
  
  }

  :root{
    --text-pnk-color: rgb(252, 203, 210);
  }

  @keyframes banner-animation{
    0% {
        left: 100vw;
    }
    100% {
        left: 0px;
    }
  }

  .banner{
   
    position:relative;
    max-width: 90%;
    margin: 20px auto;
    background-color: rgb(16, 106, 62);
    color: rgb(16, 106, 62);
    text-align: center;
    border-radius: 10px;
    padding:2px;

}


.hero-container {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    


}

.logo{
    display: flex;
    background-image: url(transparent/light\ pink.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    margin: auto;

    width: 200px;    /* <- nödvändigt för att bilden ska synas, (storlek) */
    height: 200px;   /* <- nödvändigt för att bilden ska synas, (storlek) */

}


/* navbar FLEXBOX */
.topnav ul{
  
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding: 20px 0;
   list-style-type: none;
   background-color: rgb(110, 0, 52);
   border-radius: 12px;
}

/* NAVBAR STYLING */

.topnav-style{
    color: white;
  
    align-content: space-evenly;
    transition: transform .2s;
    
}

.topnav-style:hover{
    color: rgb(252, 203, 210);
    transform: scale(1.10);
   
}

.main-container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;


}

.how-to-order{
    max-width: 700px;
    margin: 50px;
    padding: 20px;
   /*border: 2px solid var(--text-pnk-color);*/
    border-radius: 10px;
    background-color: rgb(15, 62, 39);
    text-align: center;
    font-size: 1.5rem;;

}

.how-to-order h1{
  font-size: 3rem;

}

.how-to-order a{
    color: var(--text-pnk-color);
    text-decoration: none;
    
}

.pic-container{
    justify-content: center;
    width: 100%;
   
 
}

.img-boxes{
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;                      /* centrerar innehållet i varje cell horisontellt */
    align-items: center;
    margin: 0 auto;
    padding: 0 16px;
}


  

.img1{
    background-image: url(pics/lavendel.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
  
}

.img2{
    background-image: url(pics/pellets.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    
}

.img3{
    background-image: url(pics/pellets.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
  

}
.img4{
    background-image: url(pics/pellets.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;


}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    
}



