
*{
    color: white;
    font-family: Helvetica;

    line-height: 1.5;
  
  }

  :root{
    /*bättre för font style*/
    --box-txt-opacity: rgba(255, 255, 255, 0) ;
    --main-txt-color: rgb(255,255,255);
    --bg-opacity-color: rgba(0,0,0,0.3);
    --text-pnk-color: rgb(252, 203, 210);
    --txt-blu-color:  rgb(18, 18, 144);
  }

 
  @keyframes banner-color{
    0%   {background-color: var(--text-pnk-color); color: var(--txt-blu-color) } 
    33%  {background-color: var(--text-pnk-color); color: var(--txt-blu-color) } 
    66%  {background-color: var(--txt-blu-color); color: var(--main-txt-color)}
    100% {background-color: var(--txt-blu-color); color: var(--main-txt-color)}
    
  }

  .banner{
   
    position:relative;
    max-width: 90%;
    margin: 20px auto;
    background-color: rgb(252, 203, 210);
    color: rgb(18, 18, 144);
    text-align: center;
    border-radius: 10px;
    padding:2px;

    animation-name: banner-color;
    animation-duration: 5s;  
    animation-delay: 2s;
    animation-iteration-count: infinite; 
  
}


.hero-container {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  
}

.logo{
    display: flex;
    background-image: url(Gramme/logo_files/light\ pink.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    margin: auto;

    width: 200px;    /* <- nödvändigt för att bilden ska synas, (storlek) */
    height: 200px;   /* <- nödvändigt för att bilden ska synas, (storlek) */

}


/* navbar FLEXBOX */
.topnav ul{
  
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding: 20px 0;
   list-style-type: none;
   background-color: rgb(110, 0, 52);
   border-radius: 12px;
   
}

/* NAVBAR STYLING */

.topnav-style{
    color: white;
  
    align-content: space-evenly;
    transition: transform .2s;
    
}

.topnav-style:hover{
    color: rgb(252, 203, 210);
    transform: scale(1.10);
   
}

@keyframes cont-fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.main-container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;

   animation: cont-fadeIn 0.3s ease-in 1 forwards;

}

.how-to-order{
    max-width: 700px;
    margin: 50px;
    padding: 20px;
   /*border: 2px solid var(--text-pnk-color);*/
    border-radius: 10px;
    background-color: var(--bg-opacity-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.5rem;;

}

.how-to-order h1{
  font-size: 3rem;

}

.how-to-order a{
    color: var(--text-pnk-color);
    text-decoration: none;
    
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    
  }
  
  @keyframes moveUpAndDown{
  
    0% {
  
     bottom: 0px
    }
    100% {
        bottom: 50px
    }
  
  }
  
  .animation{
      width: 50px;
      height: 50px;
      position: relative;
      right: 40px;
  
  
      display: flex;                 /* Aktiverar flexbox */
      justify-content: center;       /* Centrerar horisontellt */
      align-items: center; 
      justify-content: baseline;          /* Centrerar vertikalt */
      width: 100px;
      height: 100px;
      background-color: rgb(214, 129, 55);
      color:  rgb(18, 18, 144);;
      border-radius: 100px;
  
      animation-name: moveUpAndDown;
      animation-duration: 1.5s;
      animation-delay: 0.5;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      border-radius: 100px;
      text-align: center;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
  
  }
  
  .animation a{
    color: white;
  }
  
  @media (max-width: 768px) {
    .animation {
      right: 0px;/* Justera positionen för mindre skärmar */
      bottom: 50px;
      scale: 0.8; /* Minska storleken på animationen */
  }
  }
  

