
.logo {
    font-size: 60px;
    color: rgba(255,255,0,1);

}

.video-background{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.video-background video {
    position: fixed;
    top:50%;
    left:50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: index -1;
    transform: translate(-50%, -50%);


}

.content{
    position: relative;
    z-index: 1;
    color: rgb(0,0,0);
    text-align: center;
    top: 40%;
    font-size: 24px;
  }

  


